[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/rust"]
	path = vim/bundle/rust
	url = https://github.com/wting/rust.vim.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/jinja"]
	path = vim/bundle/jinja
	url = https://github.com/mitsuhiko/vim-jinja
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/fruity-vim-colorscheme"]
	path = vim/bundle/fruity-vim-colorscheme
	url = https://github.com/mitsuhiko/fruity-vim-colorscheme
[submodule "vim/bundle/rst"]
	path = vim/bundle/rst
	url = https://github.com/mitsuhiko/vim-rst
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = https://github.com/tpope/vim-git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/py_jump"]
	path = vim/bundle/py_jump
	url = https://github.com/vim-scripts/py_jump.vim
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/jsbeautify"]
	path = vim/bundle/jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = https://github.com/othree/html5.vim
[submodule "vim/bundle/css"]
	path = vim/bundle/css
	url = https://github.com/JulesWang/css.vim
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "vim/bundle/cython"]
	path = vim/bundle/cython
	url = https://github.com/tshirtman/vim-cython
[submodule "vim/bundle/go"]
	path = vim/bundle/go
	url = https://github.com/fsouza/go.vim
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = https://github.com/mitsuhiko/vim-sparkup
[submodule "vim/bundle/glsl"]
	path = vim/bundle/glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "vim/bundle/kwbdi"]
	path = vim/bundle/kwbdi
	url = https://github.com/vim-scripts/kwbdi.vim
[submodule "vim/bundle/python-combined"]
	path = vim/bundle/python-combined
	url = https://github.com/mitsuhiko/vim-python-combined
[submodule "vim/bundle/typescript"]
	path = vim/bundle/typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/bundle/vim/bundle/json"]
	path = vim/bundle/vim/bundle/json
	url = https://github.com/mitsuhiko/vim-json
[submodule "vim/bundle/less"]
	path = vim/bundle/less
	url = https://github.com/groenewege/vim-less
[submodule "vim/bundle/vim-toml"]
	path = vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "vim/bundle/pgsql"]
	path = vim/bundle/pgsql
	url = https://github.com/exu/pgsql.vim
[submodule "vim/bundle/vim-ansible-yaml"]
	path = vim/bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "vim/bundle/php"]
	path = vim/bundle/php
	url = https://github.com/StanAngeloff/php.vim
[submodule "vim/bundle/racer"]
	path = vim/bundle/racer
	url = https://github.com/racer-rust/vim-racer
